* {
  background-color: #121212;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.container p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}